body {
    font-family: 'Open Sans',sans-serif;
    color: #9ba3ba;
    font-size:16px;
    line-height: 26px;
}

h1 {
    font-size:80px;
    font-weight:600;
    color: #192b59;
    max-width: 513px;
    letter-spacing: -2.5px;
    line-height: 1.1;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

.box-header {
    display: flex;
    justify-content: space-between;
   margin-bottom: 306px;
    
}

.logo {
    display: block;
    background-image: url(../img/logo.png);
    width:183px;
    height: 51px;
    
}


.nav
{
    font-size:12px;
    color: #6e7ea9;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 65px;
}

.nav>li {
    padding: 10px 20px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}
.screen-img {
    display: block;
    background-image: url(../img/header_screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0px;
    top: 189px;
}
.list-company {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;

}

.list-company-item {
    display: block;
}
.company-1 {
    background-image: url(../img/tokenlogo.png);
    width: 198px;
    height: 58px;
}
.company-2 {
    background-image: url(../img/logo2.png);
    width: 200px;
    height: 69px;
}
.company-3 {
    background-image: url(../img/logo3.png);
    width: 201px;
    height: 47px;
}
.company-4 {
    background-image: url(../img/logo4.png);
    width: 200px;
    height: 69px;
}
.page-company {
    background-image: url(../img/bg-phone-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px 0;
    
}
.btn-primary {
    color: #fff;
    background-color: #1085e4;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 30px;
    font-weight:700;
    letter-spacing: 0.2em;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    background:#fff;
    color: #1085e4
    
}
.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 39px;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 0.2em;
    border: 1px solid #cbdbe8;
}
.btn-secondary:hover {
    background-color: #fff;

}
.btn-free {
    font-weight: 400;
    padding: 21px 56px;
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 39px;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 0.2em;
    border: 1px solid #dce1e5;
}
.btn-group a + a {
    margin-left: 15px;
}
.grid h2 {
    font-size: 40px;
    font-weight:700;
    color:#192b59;
}
.page-grid {
    margin-bottom: 115px;
}
.grid h2 span {
display: block;
font-size: 14px;
color: #1085e4;

}

.grid span {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}

.grid h3 {
    color: #1085e4;
    font-size: 14px;
    font-weight:400;
}

.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}
.grid-item a {
    color: #1085e4;
    font-size:14px;
    font-weight:600px;
}
.grid-item {
    text-align: center;
    box-shadow: 0px 10px 10px #f3f3f3;
    margin: 10px;
    width: 32%:
}
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 50px auto 36px;
    
}
.grid-icon-1 {
    background-image: url(../img/featlogo2.png);
    width: 75px;
    height: 81px;
}
.grid-icon-2 {
    background-image: url(../img/featlogo3.png);
    width: 91px;
    height: 88px;
}
.grid-icon-3 {
    background-image: url(../img/featlogo1.png);
    width: 81px;
    height: 84px;
}
.grid-icon-4 {
    background-image: url(../img/featlogo4.png);
    width: 103px;
    height: 95px;
}
.grid-icon-5 {
    background-image: url(../img/featlogo5.png);
    width: 87px;
    height: 92px;
}
.grid-icon-6 {
    background-image: url(../img/featlogo6.png);
    width: 101px;
    height: 88px;
}
.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c"
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    margin: 120px auto 0 auto;
}
.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}
.page-subscribe span {
    color: #1085e4;
    font-size: 14pt;
    display: block;
    font-weight: 800;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    margin-bottom:10px;

}

.page-subscribe {
    color: #fff;
    padding: 25px 0 28px 0;
background: rgba(10,32,144,1);
background: -moz-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(10,32,144,1) 44%, rgba(73,155,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(44%, rgba(10,32,144,1)), color-stop(100%, rgba(73,155,234,1)));
background: -webkit-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(10,32,144,1) 44%, rgba(73,155,234,1) 100%);
background: -o-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(10,32,144,1) 44%, rgba(73,155,234,1) 100%);
background: -ms-linear-gradient(left, rgba(10,32,144,1) 0%, rgba(10,32,144,1) 44%, rgba(73,155,234,1) 100%);
background: linear-gradient(to right, rgba(10,32,144,1) 0%, rgba(10,32,144,1) 44%, rgba(73,155,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#499bea', GradientType=1 );
background-size: cover;
}

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subscribe-user {
    position: relative;
    
}
.box-subscribe-text {
    max-width:410px;
}
.box-subscribe-child {
    flex-basis: 49%;
}


.title-h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}
.title-h2 span {
    color: #00bffe;
    padding-bottom: 30px;
    
}
.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color:#dfe8ff;
}

.box-subscribe-user input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: transparent;
    border-radius: 30px;
    font-size: 14px;
    color:#b1c3ee;
    border: 2px solid #4161b5;
}

.box-subscribe-user button {
    position: absolute;
    top: 5px;
    right:9px;
    padding: 17px 50px ;
}
.box-subscribe-user input:focus {
    outline: none;

}
.page-software h2 {
    color: #192b59;
    font-size:50px;
    font-weight:600;
}

dt {
    color: #5a6789;
    font-size: 16px;
    font-weight:700;
    
}

.span-header {
    display: block;
    letter-spacing:0.2em;
    color: #1085e4;
    font-weight:800;
    font-size:16px;
    text-align: center;
    text-transform: uppercase;
}
.page-stat, .page-screen {
    background-color: #edf6ff;
   
}

.page-stat {
    padding: 116px 0 96px 0;
    
}

.page-stat .title-50 {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.page-screen, .page-plan {
    
    padding: 116px 0 0 0;
    text-align: center;
    
}

.screen {
    margin-top: 70px;
    margin-bottom: -7px;
}

.list-stat {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 36px;

}

.list-stat>li {
    color:#1085e4;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:0.2em;
    font-weight:700;
    text-align: center;
}

.list-stat>li>span {
    font-size:60px;
  color: #bacbdc;
  letter-spacing: -2.5px;
  display:block;
  margin-bottom:23px;
  
}




.page-app  h2 {
    font-size:50px;
    color: #192b59;
    font-weight: 600;

}

.page-app p {
    color: #7581a1;
    
}

.page-app h3 {
    font-weight:700;
    color:#c4d2dd;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.page-analytics h2 {
    font-size:50px;
    color: #192b59;
    font-weight:600;

}




.title-40 {
font-size: 40px;
font-weight:600;
letter-spacing: -1.5px;
line-height:1.2;
color: #192b59;

}
.title-40 span {
    display: block;
    text-transform: uppercase;
    color: #1085e4;
    letter-spacing: 0.2em;
    font-size: 18px;
    font-weight: 800;
}

.title-50 {
    font-size: 50px;
    font-weight:600;
    letter-spacing: -1.5px;
    line-height:1.2;
    color: #192b59;
    
    }
.title-50 span {
        display: block;
        text-transform: uppercase;
        color: #1085e4;
        letter-spacing: 0.2em;
        font-size: 16px;
        font-weight: 800;
    }
.page-stat .title-40, .page-stat .title-50 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item {
    background: #f5faff;
    padding: 90px 0 96px 0;
    text-align: center;
    flex-basis: 32%;
    position: relative;
}

.box-price-item ul {
    list-style-type: none;

}
.box-price-item span, .active span {
    font-size: 20px;
    font-weight:700;
    color: #7b8ab2;
}
.box-price-item ul li {
    margin-bottom:25px;
    text-align: center;
}
.box-price-item h3 {
    font-size: 70px;
    color: #000958;
    font-weight: 700; 
    letter-spacing: -1px;
    margin-top:0;
    margin-bottom:15px;
    
}
.box-price-item>ul>li:last-child {
    margin-bottom:60px;
}
.box-price-item::after {
    content: "";
    width: 420px;
    height: 100%;
    background-image: url(../img/bg.svg);
    position: absolute;
    
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}
.box-price-item:first-child h3 {
    margin-bottom:30px;
}


.box-price-item h3 span:first-child {
    color: #192b59;
    
}

.active h3 span:first-child  {
    color: #fff;
}
.box-price-item p {
    color: #1085e4;
    font-size: 14px;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    
}

.box-price-item .btn-primary  {
    color: #fff;
    background-color: #1085e4;
    font-size: 12px;
    text-transform: uppercase;
    padding: 24px 50px;
    border-radius: 30px;
    font-weight:700;
    letter-spacing: 0.2em;
    border: 1px solid #1085e4;
}
.box-price-item .btn-primary:hover {
    background-color: #fff;
    color: #1085e4;

}
.btn-info {
    padding: 24px 60px;
}



.active, .active h3, .active p {
    background: #192b59;
    color: #fff;
    
}

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}